
.vs/config/applicationhost.config
.vs/caterapp/v15/Server/sqlite3/storage.ide-wal
.vs/caterapp/v15/Server/sqlite3/storage.ide-shm
.vs/caterapp/v15/Server/sqlite3/storage.ide
.vs/caterapp/v15/Server/sqlite3/db.lock
