################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/caterapp.data/bin/Debug/netcoreapp2.1
/caterapp.data/obj/Debug/netcoreapp2.1
/caterapp.data/obj
