<mat-toolbar color="background" class="page-header">
  <h1>Manage Customer Info</h1>
</mat-toolbar>
<div class="container">

  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="contactNumber">
      <mat-header-cell *matHeaderCellDef>Contact No.</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.contactNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="altContactNumber">
      <mat-header-cell *matHeaderCellDef>Alt. Contact No.</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.altContactNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <button mat-raised-button (click)="new()" color="primary">New</button>

</div>
