<form [formGroup]="eventForm" (ngSubmit)="onSubmit(eventForm.value)">

  <input formControlName="id" id="id" type="hidden" />

  <div class="form-group">
    <label for="title">Name</label>
    <input id="title" formControlName="title" class="form-control" type="text" required />
  </div>

  <div class="form-group">
    <label for="start">Start Date</label>
    <input class="form-control"
           id="start"
           formControlName="start"
           type="text"
           mwlFlatpickr
           [altInput]="true"
           [convertModelValue]="true"
           [enableTime]="true"
           altFormat="F j, Y h:i K"
           dateFormat="Z">
  </div>

  <div class="form-group">
    <label for="end">End Date</label>
    <input class="form-control"
           formControlName="end"
           type="text"
           mwlFlatpickr
           [altInput]="true"
           [convertModelValue]="true"
           [enableTime]="true"
           altFormat="F j, Y h:i K"
           dateFormat="Z">
  </div>

  <div class="btn-toolbar">
    <button class="btn btn-secondary btn-block" type="button" routerLink="/events">Back</button>
    <button class="btn btn-primary btn-block" type="submit">Save</button>
  </div>

</form>
