<div body-container>
  <mat-toolbar color="background" class="page-header">
    <h1>Event Details</h1>
  </mat-toolbar>

  <div class="container">
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit(eventForm.value)">

      <input formControlName="id" id="id" type="hidden" />

      <mat-form-field class="form-field-full-width">
        <input matInput id="title" placeholder="Title" formControlName="title" class="form-control" type="text" required />
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <mat-select placeholder="Type" id="typeId" formControlName="typeId">
          <mat-option *ngFor="let eventType of eventTypes" [value]="eventType.id">
            {{eventType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="form-group">
        <label for="start">Start Date</label>
        <input class="form-control"
               id="start"
               formControlName="start"
               type="text"
               mwlFlatpickr
               [altInput]="true"
               [convertModelValue]="true"
               [enableTime]="true"
               altFormat="F j, Y h:i K"
               dateFormat="Y-m-d H:i"
               (change)="startDateChanged(newDate.value)"
               #newDate>
        <div *ngIf="start.invalid && (start.dirty || start.touched)" class="alert alert-danger">
          <div *ngIf="start.errors.required">Start date is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="end">End Date</label>
        <input class="form-control"
               formControlName="end"
               type="text"
               mwlFlatpickr
               [altInput]="true"
               [convertModelValue]="true"
               [enableTime]="true"
               altFormat="F j, Y h:i K"
               dateFormat="Y-m-d H:i">
      </div>

      <div class="btn-group btn-block">
        <button mat-raised-button color="accent" type="button" routerLink="/events">Back</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="eventForm.invalid || eventForm.pristine">Save</button>
      </div>

    </form>

  </div>

  </div>
