<h3>New Event</h3>
<hr />

<form [formGroup]="newEventForm" (ngSubmit)="onSubmit(newEventForm.value)">

  <div class="form-group">
    <label for="name"></label>
    <input class="form-control" type="text" formControlName="name" />
  </div>

  <div class="form-group">
    <label for="startDate">Start Date</label>
    <input class="form-control"
           formControlName="startDate"
           type="text"
           mwlFlatpickr
           [altInput]="true"
           [convertModelValue]="true"
           [enableTime]="true"
           altFormat="F j, Y H:i"
           dateFormat="Y-m-d H:i">
  </div>

  <div class="form-group">
    <label for="startDate">End Date</label>
    <input class="form-control"
           formControlName="endDate"
           type="text"
           mwlFlatpickr
           [altInput]="true"
           [convertModelValue]="true"
           [enableTime]="true"
           altFormat="F j, Y H:i"
           dateFormat="Y-m-d H:i">
  </div>

  <button class="btn btn-primary" type="submit">Save</button>

</form>
