<h3>New Event</h3>
<hr/>

<form [formGroup]="newEventForm" (ngSubmit)="onSubmit(newEventForm.value)">

  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input formControlName="name" matInput placeholder="Name">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input formControlName="startDate" matInput [matDatepicker]="startDate" placeholder="Choose start date">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input formControlName="endDate" matInput [matDatepicker]="endDate" placeholder="Choose end date">
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>
  </div>

  <button mat-flat-button type="submit">Save</button>

</form>
