.text-center {
  margin: 20px 0px 20px 0px;
}

/* align directional buttons */
.date-browser {
  width: 100px;
  margin-right: 5px;
}

.col-md-4 {
  padding: 0px;
}

/* limit the height of the calendar*/
.calendar-wrapper {
  height: 700px;
  overflow-y: scroll;
}

/* container css*/
.body-container {
  padding: 0px 20px 0px 20px;
}
