<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z8">
    <button mat-button routerLink="/"><img src="assets/logo.png" class="logo"/><b>caterapp</b></button>
    <button mat-button routerLink="/">Home</button>
    <button mat-button [matMenuTriggerFor]="adminMenu">Admin</button>
    <mat-menu #adminMenu="matMenu">
      <button mat-menu-item routerLink="/admin/event-types" color="primary">Event Types</button>
      <button mat-menu-item routerLink="/admin/event-types" color="primary">Customers</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
